* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --base-font: "Mulish", sans-serif;

  --white: #ffffff;
  --color-base-gray-100: #f9f4fb;
  --color-base-purple-500: #343193;
  --color-base-purple-700: #312D64;
  --color-base-rose-500: #B52184;
  --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-gray-100);
}

body, input, textarea, button {
  font-family: var(--base-font);
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3.2rem 9.3rem 3.2rem;
}

.astronaut-img {
  margin-bottom: 1.7rem;
}

.astronaut-img img {
  width: 100%;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-cta h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-base-rose-500);
}

.hero-cta p {
  font-size: 2.0rem;
  font-weight: 600;
  color: var(--color-base-purple-700);
  margin-bottom: 3.5rem;
}

#hero a {
  transition: 0.3s;
}

#hero a:hover {
  transform: scale(1.2);
} 

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
  padding: 5.3rem 3.9rem;
  background: var(--gradient-background);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  padding: 2.6rem;
  background-color: var(--white);
  border-radius: 2.0rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
}

.card-info h3 {
  font-size: 2.9rem;
  font-weight: 900;
  color: var(--color-base-rose-500);
} 
.card-info p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-base-purple-700);
} 

#contact {
  display: flex;
  padding: 7.8rem 3.9rem 6.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 2.4rem;

}

form fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4.3rem;
  border: none;
}

form legend {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-base-rose-500);
}

form .input-fields {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 644px;
}

.input-fields input, 
.input-fields textarea {
  display: flex;
  align-items: center;
  width: 100%;
  
  padding: 1.2rem 1.6rem 1.2rem 5.0rem;
  border: 1.5px solid var(--color-base-purple-700);
  border-radius: 1.6rem;
  font-size: 1.6rem;
  color: var(--color-base-purple-700);
  font-weight: 600;
}

.name {
  background: url(./assets/person.svg) no-repeat scroll 1.4rem;
}

.email {
  background: url(./assets/at.svg) no-repeat scroll 1.4rem;
}

.input-fields textarea {
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  min-height: 12.6rem;
}

.input-fields input::placeholder, 
.input-fields textarea::placeholder {
  font-size: 1.6rem;
  color: var(--color-base-purple-700);
  font-weight: 600;
}

form button {
  height: 4.5rem;
  padding: 0 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  background: var(--gradient-background);
  border: none;
  border-radius: 1.6rem;
}

.stars img {
  display: none;
  width:100%;
  height:auto;
}


footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.2rem 0;
  background-color: var(--color-base-purple-500);
  color: var(--white);
  font-size: 2.0rem;
  font-weight: 600;
}

@media (min-width: 1440px) {
  #hero {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "A B";
    align-items: flex-start;
    justify-items: center;
    gap: 2.8rem;

    padding: 0 2.9rem 10.3rem 10.9rem;
  }

  .astronaut-img {
    grid-area: B;
  }

  .hero-cta {
    margin-top: 31.2rem;
    align-items: flex-start;
  }

  .hero-cta h1 {
    font-size: 5.8rem;
  }

  .hero-cta p {
    font-size: 3.2rem;
    margin-bottom: 17.9rem;
  }

  .hero-cta a {
    padding-bottom: 3rem;
  }

  #cards {
    flex-direction: row;
    width: 100%;
    gap: 6.0rem;
    padding: 6.4rem 11.1rem;
  }

  .card {
    min-width: 36.6rem;
  }

  .stars img {
    display: block;
  }

  #contact {
    gap: 9.2rem;
    padding: 0;
  }

  #contact form {
    padding: 9.5rem 0 9.5rem 10.9rem;
  }
}

/* Animations */

#hero {
  --startY: -100%;
  animation: move 0.5s;
}

.planet-img img:hover {
  animation: rotate-center 0.6s ease-in-out both;
}


@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
